:root {
  /* light */
  --md-sys-color-primary-light: #0061a5;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #d2e4ff;
  --md-sys-color-on-primary-container-light: #001d36;
  --md-sys-color-primary-fixed-light: #d2e4ff;
  --md-sys-color-on-primary-fixed-light: #001d36;
  --md-sys-color-primary-fixed-dim-light: #9fcaff;
  --md-sys-color-on-primary-fixed-variant-light: #00497e;
  --md-sys-color-secondary-light: #535f70;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #d7e3f8;
  --md-sys-color-on-secondary-container-light: #101c2b;
  --md-sys-color-secondary-fixed-light: #d7e3f8;
  --md-sys-color-on-secondary-fixed-light: #101c2b;
  --md-sys-color-secondary-fixed-dim-light: #bbc7db;
  --md-sys-color-on-secondary-fixed-variant-light: #3c4858;
  --md-sys-color-tertiary-light: #6b5778;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #f3daff;
  --md-sys-color-on-tertiary-container-light: #251431;
  --md-sys-color-tertiary-fixed-light: #f3daff;
  --md-sys-color-on-tertiary-fixed-light: #251431;
  --md-sys-color-tertiary-fixed-dim-light: #d7bee4;
  --md-sys-color-on-tertiary-fixed-variant-light: #533f5f;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fdfcff;
  --md-sys-color-on-background-light: #1a1c1e;
  --md-sys-color-outline-light: #73777f;
  --md-sys-color-inverse-on-surface-light: #f1f0f4;
  --md-sys-color-inverse-surface-light: #2f3033;
  --md-sys-color-inverse-primary-light: #9fcaff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #0061a5;
  --md-sys-color-outline-variant-light: #c3c6cf;
  --md-sys-color-scrim-light: #00000060;
  --md-sys-color-surface-light: #faf9fc;
  --md-sys-color-on-surface-light: #1a1c1e;
  --md-sys-color-surface-variant-light: #dfe2eb;
  --md-sys-color-on-surface-variant-light: #43474e;
  --md-sys-color-surface-container-highest-light: #e2e2e6;
  --md-sys-color-surface-container-high-light: #e8e8eb;
  --md-sys-color-surface-container-light: #eeedf1;
  --md-sys-color-surface-container-low-light: #f4f3f7;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #dadadd;
  --md-sys-color-surface-bright-light: #faf9fc;
  /* dark */
  --md-sys-color-primary-dark: #9fcaff;
  --md-sys-color-on-primary-dark: #003259;
  --md-sys-color-primary-container-dark: #00497e;
  --md-sys-color-on-primary-container-dark: #d2e4ff;
  --md-sys-color-primary-fixed-dark: #d2e4ff;
  --md-sys-color-on-primary-fixed-dark: #001d36;
  --md-sys-color-primary-fixed-dim-dark: #9fcaff;
  --md-sys-color-on-primary-fixed-variant-dark: #00497e;
  --md-sys-color-secondary-dark: #bbc7db;
  --md-sys-color-on-secondary-dark: #253140;
  --md-sys-color-secondary-container-dark: #3c4858;
  --md-sys-color-on-secondary-container-dark: #d7e3f8;
  --md-sys-color-secondary-fixed-dark: #d7e3f8;
  --md-sys-color-on-secondary-fixed-dark: #101c2b;
  --md-sys-color-secondary-fixed-dim-dark: #bbc7db;
  --md-sys-color-on-secondary-fixed-variant-dark: #3c4858;
  --md-sys-color-tertiary-dark: #d7bee4;
  --md-sys-color-on-tertiary-dark: #3b2947;
  --md-sys-color-tertiary-container-dark: #533f5f;
  --md-sys-color-on-tertiary-container-dark: #f3daff;
  --md-sys-color-tertiary-fixed-dark: #f3daff;
  --md-sys-color-on-tertiary-fixed-dark: #251431;
  --md-sys-color-tertiary-fixed-dim-dark: #d7bee4;
  --md-sys-color-on-tertiary-fixed-variant-dark: #533f5f;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1a1c1e;
  --md-sys-color-on-background-dark: #e2e2e6;
  --md-sys-color-outline-dark: #8d9199;
  --md-sys-color-inverse-on-surface-dark: #1a1c1e;
  --md-sys-color-inverse-surface-dark: #e2e2e6;
  --md-sys-color-inverse-primary-dark: #0061a5;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #9fcaff;
  --md-sys-color-outline-variant-dark: #43474e;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #121316;
  --md-sys-color-on-surface-dark: #c6c6ca;
  --md-sys-color-surface-variant-dark: #43474e;
  --md-sys-color-on-surface-variant-dark: #c3c6cf;
  --md-sys-color-surface-container-highest-dark: #333538;
  --md-sys-color-surface-container-high-dark: #282a2d;
  --md-sys-color-surface-container-dark: #1e2022;
  --md-sys-color-surface-container-low-dark: #1a1c1e;
  --md-sys-color-surface-container-lowest-dark: #0d0e11;
  --md-sys-color-surface-dim-dark: #121316;
  --md-sys-color-surface-bright-dark: #38393c;

  @media(prefers-color-scheme: light) {
      --md-sys-color-primary: var(--md-sys-color-primary-light);
      --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
      --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
      --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
      --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-light);
      --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-light);
      --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-light);
      --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-light);
      --md-sys-color-secondary: var(--md-sys-color-secondary-light);
      --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
      --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
      --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
      --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-light);
      --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-light);
      --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-light);
      --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-light);
      --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
      --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
      --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
      --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
      --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-light);
      --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-light);
      --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-light);
      --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-light);
      --md-sys-color-error: var(--md-sys-color-error-light);
      --md-sys-color-error-container: var(--md-sys-color-error-container-light);
      --md-sys-color-on-error: var(--md-sys-color-on-error-light);
      --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
      --md-sys-color-background: var(--md-sys-color-background-light);
      --md-sys-color-on-background: var(--md-sys-color-on-background-light);
      --md-sys-color-outline: var(--md-sys-color-outline-light);
      --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
      --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
      --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
      --md-sys-color-shadow: var(--md-sys-color-shadow-light);
      --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
      --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
      --md-sys-color-scrim: var(--md-sys-color-scrim-light);
      --md-sys-color-surface: var(--md-sys-color-surface-light);
      --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
      --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
      --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
      --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-light);
      --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-light);
      --md-sys-color-surface-container: var(--md-sys-color-surface-container-light);
      --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-light);
      --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-light);
      --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-light);
      --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-light);
  }

  @media(prefers-color-scheme: dark) {
      --md-sys-color-primary: var(--md-sys-color-primary-dark);
      --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
      --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
      --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
      --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-dark);
      --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-dark);
      --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-dark);
      --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-dark);
      --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
      --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
      --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
      --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
      --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-dark);
      --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-dark);
      --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-dark);
      --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-dark);
      --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
      --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
      --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
      --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
      --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-dark);
      --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-dark);
      --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-dark);
      --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-dark);
      --md-sys-color-error: var(--md-sys-color-error-dark);
      --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
      --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
      --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
      --md-sys-color-background: var(--md-sys-color-background-dark);
      --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
      --md-sys-color-outline: var(--md-sys-color-outline-dark);
      --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
      --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
      --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark);
      --md-sys-color-shadow: var(--md-sys-color-shadow-dark);
      --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark);
      --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark);
      --md-sys-color-scrim: var(--md-sys-color-scrim-dark);
      --md-sys-color-surface: var(--md-sys-color-surface-dark);
      --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
      --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
      --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
      --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-dark);
      --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-dark);
      --md-sys-color-surface-container: var(--md-sys-color-surface-container-dark);
      --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-dark);
      --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-dark);
      --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-dark);
      --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-dark);
  }

  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
  /* main variabled to */
  /* ======================= */
  /* label */
  --md-sys-icon-color: var(--md-sys-color-on-surface-variant);
  --md-sys-label-text-color: var(--md-sys-color-on-surface-variant);
}